<form>
	<div>
		<h4 style="color: #434343; font-weight: bold;">Fazer login</h4>
		<p>Use sua conta do Dogão. Você também fará parte de uma comunidade apaixonada por animais de estimação.</p>

		<div class="row mt-4">
			<div class="col">
				<div class="input-group mb-1">
					<input type="email" name="email" id="email" class="form-control rounded-3" placeholder="E-mail"
						autocomplete="off" required>
				</div>
			</div>
		</div>

		<div class="row mt-2 mb-3">
			<div class="col">
				<div class="input-group">
					<input type="password" name="senha" id="senha" class="form-control rounded-3" placeholder="Senha"
						autocomplete="off" required>
				</div>
			</div>
		</div>

		<div class="d-grid">
			<button class="btn btn-doge rounded-3" type="button">Entrar</button>
		</div>
	</div>
</form>