<form>
	<div>
		<h4 style="color: #434343; font-weight: bold;">Criar conta</h4>

		<div class="row mt-4">
			<div class="col">
				<div class="input-group mb-1">
					<input type="nome" name="nome" id="nome" class="form-control rounded-3" placeholder="Nome"
						autocomplete="off" required>
				</div>
			</div>

			<div class="col">
				<div class="input-group mb-1">
					<input type="sobrenome" name="sobrenome" id="sobrenome" class="form-control rounded-3"
						placeholder="Sobrenome" autocomplete="off" required>
				</div>
			</div>
		</div>

		<div class="row mt-4">
			<div class="col">
				<div class="input-group mb-1">
					<input type="email" name="email" id="email" class="form-control rounded-3" placeholder="E-mail"
						autocomplete="off" required>
				</div>
			</div>
		</div>

		<div class="row mt-2">
			<div class="col">
				<div class="input-group mb-3">
					<input type="password" name="senha" id="senha" class="form-control rounded-3" placeholder="Senha"
						minlength="8" autocomplete="off" required>
				</div>
			</div>
		</div>

		<div class="row text-start mb-3">
			<div class="col">
				<small id="passwordHelpInline" class="text-muted">
					Use oito ou mais caracteres com uma combinação de letras, números e símbolos
				</small>
			</div>
		</div>

		<div class="d-grid">
			<button class="btn btn-doge rounded-3" type="button">Inscrever</button>
		</div>
	</div>
</form>